.content {
	background-color: #5d686b;
	width: 300px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (min-width: 768px) {
	.content {
		width: 600px;
	}
}

/* --------- Adaptive desktop (1152px) --------- */

@media screen and (min-width: 1152px) {
	.content {
		width: auto;
		height: 700px;
	}
}

/* --------- Adaptive desktop (1440px) --------- */

@media screen and (min-width: 1440px) {
	.content {
		height: 800px;
	}
}

/* --------- Adaptive desktop (1920px) --------- */

@media screen and (min-width: 1920px) {
}
