.more {
	margin-top: 50px;
	background-color: #5d686b;
	width: 100%;
	height: 1px;
}

.body {
	display: flex;
	justify-content: center;
	padding-top: 40px;
}
.btn {
	color: #fff;
	width: 200px;
	height: 50px;
	background-color: #5d686b;
	transition: 150ms all;
	&:hover {
		background-color: #5f828d;
	}
}
